/build/*
!/build/proof.json
!/build/build-manifest.json
!/build/build.log
!/build/inputs/
!/build/inputs/**
/build_c/*
!/build_c/proof.json
!/build_c/build-manifest.json
!/build_c/build.log
!/build_c/inputs/
!/build_c/inputs/**
/audit/*.exact.json
